{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <div class="panel panel-primary">
      <p>
          Please click on button below to continue:
      </p>
    <fb:login-button scope="public_profile,email,manage_pages,pages_messaging,read_page_mailboxes" onlogin="checkLoginState();">Log In With Facebook
    </fb:login-button>
    <div id="status">
    </div>


      form class="form-horizontal">
        <fieldset>
            <legend id="dashboard_legend">Default Message</legend>
            <div class="form-group">
                <label for="inputtextArea" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <textarea class="form-control well well-sm" rows="5" placeholder="type default message here."></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button id="dashboard_button" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
    <form class="form-horizontal ">
        <fieldset>
            <legend id="dashboard_legend">Returning Message</legend>
            <div class="form-group">
                <label for="inputtextArea" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <textarea class="form-control well well-sm" rows="5" placeholder="type returning message here."></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button id="dashboard_button" type="submit" class="btn btn-primary">Return</button>
                </div>
            </div>
        </fieldset>
    </form>
    <!-- we need blow script here only, remove from dashboard. Uske baad we need to connect with our backend, so live coding again :) done that and live coding when righr now i am studying os -->
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
            //writing function blow to send token and all as post data for mvp.
            var postUrl = "https://slack-apps.net/service1/oauth_local/";
            var postUrlLocal = "http://127.0.0.1:8001/service1/oauth_local/";
            var postData = {
                "access_token" : response.authResponse.accessToken,
                "userID" : response.authResponse.userID,
                "user" : '{{ user.username }}'
            };
            $.post(postUrlLocal, JSON.stringify({"token_data":postData}), function(res){
                console.log(res);
            });
            function sendPageId(SelectedPageId){
                console.log(SelectedPageId);
            }
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }
    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }
    window.fbAsyncInit = function () {
        FB.init({
            appId: '161493801056505',
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.9' // use graph api version 2.9
        });
        // Now that we've initialized the JavaScript SDK, we call
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    };
    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
        });
        FB.api('/me/accounts/', function(response){
            for(var i=0; i<response.data.length; i++){
                $('#fb-page-data').append("<li><a href='#' target='https://slack-apps.net/pain2/select_page?data=" + response.data[i].id.toString() + "'>" + response.data[i].name + ' - ' + response.data[i].id + "</a></li>");
            }
            $('#select-page-dropbox').show()
        })
    }
</script>

{% endblock %}